<main role="main" class="container">
  <h1>About</h1>
  <p>The recipes on this website were inspired by:</p>
  <ul>
    <li><a href="https://food52.com/">Food 52</a></li>
    <li><a href="https://geniuskitchen.com/">Genius Kitchen</a></li>
    <li><a href="http://www.kitchentreaty.com">Kitchen Treaty</a></li>
    <li><a href="http://natashaskitchen.com">Natasha's Kitchen</a></li>    
    <li><a href="https://saretaskitchen.wordpress.com">Sareta's Kitchen</a></li>
    <li><a href="http://www.savoringspoon.com/">Savoring Spoon</a></li>
    <li><a href="https://sweetpotatosoul.com">Sweet Potato Soul</a></li>
    <li><a href="https://www.thespruce.com/">The Spruce</a></li>
    <li><a href="https://tiphero.com/">Tip Hero</a></li>
  </ul>
</main>