.img-latest {
  width: 100%;
  display: block;
  margin: auto;
}

.text-latest {
  color: black;
  font-size: 1.2rem;
  text-align: center;
}

.date-latest {
  color: black;
  font-size: 1rem;
  text-align: center;
}

@media (min-height: 800px) and (min-width: 1200px) {
  .img-latest {
    width: 60%;
    display: block;
    margin: auto;
  }
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1:before,
h1:after {
  content: "";
  border-top: 1px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

h1:after {
  margin: 0 0 0 20px;
}
