<main role="main" class="container-fluid">
  <h1 class="text-center"><span>Recipes</span></h1>
  <div class="row">
    <div class="col-lg-auto col-auto" *ngFor="let recipe of recipes">
      <a [routerLink]="['/recipes', recipe.name]">
        <div class="img recipe">
          <img class="img-fluid" src="{{ recipe.image_thumbnail }}" alt="{{ updateName(recipe.name) }}">
          <div class="overlay">
            <p class="overlay-text">Get started!</p>
          </div>
        </div>
        <p class="text-center">{{ updateName(recipe.name) }}</p>
      </a>
    </div>
  </div>
</main>
