<main role="main" class="container-fluid">
  <h1 class="text-center pb-1">{{ updateName(recipe?.name) }}</h1>
  <p class="text-center"><i class="calendar fas fa-calendar-alt"></i><span class="pl-3">{{ recipe?.created_at | formatDate }}</span></p>
  <div class="img">
    <img class="img-center img-fluid" src="{{ recipe?.image }}" alt="{{ updateName(recipe?.name) }}">
  </div>
  <div class="row overview text-center">
    <div class="col-lg-4">
      <span>Servings: </span>
      <input class="servings-input input-group-text" [(ngModel)]="servingsInput" type="number" onkeydown="return false"
        min="1" max="24" value="{{ recipe?.servings }}">
    </div>
    <div class="col-lg-4">
      <p>Prep: {{ recipe?.prep }}</p>
    </div>
    <div class="col-lg-4">
      <p>Cooking: {{ recipe?.cooking }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="description">{{ recipe?.description }}</p>
    </div>
    <div class="col-lg-4">
      <h3 class="ingredients-instructions">Ingredients:</h3>
      <ul class="ingredients">
        <li *ngFor="let ingredient of recipe?.ingredients | calculator:servingsInput:initialServings">{{ ingredient }}
        </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <h3 class="ingredients-instructions">Instructions:</h3>
      <ol class="instructions">
        <li *ngFor="let instruction of recipe?.instructions">{{ instruction }}</li>
      </ol>
    </div>
    <div class="col-12">
      <p class="credit">Credit: <a href="{{ recipe?.credit }}">{{recipe?.credit}}</a></p>
    </div>
  </div>
</main>