/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

section {
    margin: 0 auto;
    min-height: 100%;
    padding: 10rem 1rem 5rem;
    width: 80%;
}

h1 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 80%;
}