.search-bar {
    width: 350px !important;
}

.search-results {
    background-color: white;
    color: black;
    position: absolute;
    padding: 0;
    width: 350px !important;
    border: 1px solid black;
    z-index: 1;
    li {
        list-style: none;
    }
}

.search-item {
    border-bottom: 1px solid lightgrey;
    font-size: 15px;
    padding: 0.5rem;
}

.search-img {
    height: 4rem;
    width: 4rem;
    padding-right: 0.5rem; 
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    padding: 0.7rem;
    // width: 2.375rem;
    // height: 2.375rem;
    line-height: 2.375rem;
    // text-align: center;
    // pointer-events: none;
    // color: #aaa;
}